Repository ruzickap/action-test: changes, and which lefthook commands are due for each by the changed paths.
All: yamllint, markdownlint-cli

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    yamllint:
      glob: "*.{yaml,yml}"
      runner: yamllint .
    markdownlint-cli:
      glob: "*.md"
      exclude: "CHANGELOG.md"
      runner: markdownlint --ignore CHANGELOG.md .

mezery
  .github/workflows/gh-action-test.yml
  mezery aaa/test.sh
Due: yamllint

zzzz
  entrypoint.sh
Due: none

single
  .github/workflows/gh-action-test.yml
Due: yamllint

shell
  entrypoint.sh
Due: none

CHANGELOG file update (#25)
  CHANGELOG.md
Due: none

Add ansible
  .github/workflows/remote_build_server.yml
  ansible/main.yml
Due: yamllint

Ansible fix
  .github/workflows/gh-action-test.yml
  ansible/main.yml
Due: yamllint

Add become
  ansible/main.yml
Due: yamllint

Ansible debug
  .github/workflows/remote_build_server.yml
Due: yamllint

Add python3-apt
  .github/workflows/remote_build_server.yml
Due: yamllint

Add python3 2
  .github/workflows/remote_build_server.yml
Due: yamllint

force_apt_get
  ansible/main.yml
Due: yamllint

grep
  .github/workflows/remote_build_server.yml
Due: yamllint

source
  .github/workflows/remote_build_server.yml
Due: yamllint

i
  .github/workflows/remote_build_server.yml
Due: yamllint

var
  .github/workflows/remote_build_server.yml
Due: yamllint

CHANGELOG file update
  CHANGELOG.md
Due: none

owner
  .github/workflows/env-check.yml
Due: yamllint

vue
  .github/workflows/vuepress-build-check-deploy.yml
Due: yamllint

i
  templates/mytest_windows-10-enterprise-eval.md
  templates/windows-10-enterprise-eval.md
Due: markdownlint-cli

123
  .github/workflows/env-check.yml
Due: yamllint

mytest amend
  entrypoint.sh
Due: none

i
  README.md
  templates/my_centos.md
  templates/my_ubuntu.md
  templates/my_windows-10-enterprise-eval.md
  templates/ubuntu.md
  templates/windows-server-2012-eval.md
  templates/windows-server-2016-eval.md
  templates/windows-server-2019-eval.md
Due: markdownlint-cli

iiaaa
  entrypoint.sh
Due: none

bvvv
  entrypoint.sh
Due: none

isss
  entrypoint.sh
Due: none

bbb
  entrypoint.sh
Due: none

test
  entrypoint.sh
Due: none

tv
  entrypoint.sh
Due: none

aaa
  entrypoint.sh
Due: none
