Repository ruzickap/action-test: changes, and which lefthook commands are due for each by the changed paths.
All: yamllint, markdownlint-cli

yamllint:
  runner: yamllint .

markdownlint-cli:
  runner: markdownlint --ignore CHANGELOG.md .

space
  entrypoint.sh
Due: none

i
  entrypoint.sh
Due: none

array
  entrypoint.sh
Due: none

apostr
  entrypoint.sh
Due: none

aaa
  entrypoint.sh
Due: none

aaa
  action.yml
  entrypoint.sh
Due: yamllint

ia2
  entrypoint.sh
Due: none

i
  .github/workflows/my_linter.yml
  entrypoint.sh
Due: yamllint

ii
  entrypoint.sh
Due: none

iii
  entrypoint.sh
Due: none

i
  Dockerfile
  entrypoint.sh
Due: none

sh
  entrypoint.sh
Due: none

no bash
  entrypoint.sh
Due: none

trap
  entrypoint.sh
Due: none

aaaa
  .github/workflows/markdown_lint.yml
  .github/workflows/my_linter.yml
  Dockerfile
  entrypoint.sh
Due: yamllint

clean
  .github/workflows/markdown_lint.yml
  action.yml
  entrypoint.sh
Due: yamllint

ii
  action.yml
Due: yamllint

555
  .github/workflows/markdown_lint.yml
Due: yamllint

iiii
  entrypoint.sh
Due: none

yaml
  .hadolint.yaml
Due: yamllint

md
  .github/workflows/markdown-checks.yml
Due: yamllint

md2
  .github/workflows/markdown-checks.yml
Due: yamllint

Change linters + checkers
  .github/workflows/markdown-checks.yml
  .github/workflows/vuepress-build-check-deploy.yml
  .hadolint.yaml
  ansible/roles/ansible-role-my_common_defaults/.github/workflows/markdown.yml
  ansible/roles/ansible-role-virtio-win/.github/workflows/markdown.yml
  scripts/linux-common/packer-virt-sysprep/.github/workflows/markdown.yml
Due: yamllint

Remove ref: gh-pages
  .github/workflows/periodic-broken-link-checks.yml
Due: yamllint

Add README
  README.md
Due: markdownlint-cli

Remove
  mezery aaa/test.sh
Due: none

Remove (#28)
  mezery aaa/test.sh
Due: none

cleanup
  .github/workflows/markdown-checks.yml
  .github/workflows/size-label.yml
  ansible/roles/ansible-role-my_common_defaults/.github/stale.yml
  ansible/roles/ansible-role-my_common_defaults/.github/workflows/ansible-lint.yml
  ansible/roles/ansible-role-my_common_defaults/.github/workflows/markdown.yml
  ansible/roles/ansible-role-my_common_defaults/.github/workflows/molecule.yml
  ansible/roles/ansible-role-my_common_defaults/.github/workflows/shellcheck.yml
  ansible/roles/ansible-role-my_common_defaults/.github/workflows/yamllint.yml
  ansible/roles/ansible-role-virtio-win/.github/stale.yml
  ansible/roles/ansible-role-virtio-win/.github/workflows/ansible-lint.yml
  ansible/roles/ansible-role-virtio-win/.github/workflows/markdown.yml
  ansible/roles/ansible-role-virtio-win/.github/workflows/molecule.yml
  ansible/roles/ansible-role-virtio-win/.github/workflows/shellcheck.yml
  ansible/roles/ansible-role-virtio-win/.github/workflows/yamllint.yml
  scripts/linux-common/packer-virt-sysprep/.github/workflows/markdown.yml
  scripts/linux-common/packer-virt-sysprep/.github/workflows/shellcheck.yml
  scripts/linux-common/packer-virt-sysprep/.github/workflows/yamllint.yml
Due: yamllint

Update Dockerfile
  Dockerfile
Due: none

Fix My Broken Link Checker parameter
  .github/workflows/periodic-broken-link-checks.yml
  .github/workflows/vuepress-build-check-deploy.yml
Due: yamllint

Fix My Broken Link Checker parameter (#29)
  .github/workflows/periodic-broken-link-checks.yml
  .github/workflows/vuepress-build-check-deploy.yml
Due: yamllint

check
  .github/workflows/check-broken-links.yml
Due: yamllint

ii
  .github/workflows/check-broken-links.yml
Due: yamllint

iii
  .github/workflows/check-broken-links.yml
Due: yamllint

aaaa
  .github/workflows/check-broken-links.yml
Due: yamllint

ifix
  .github/workflows/check-broken-links.yml
Due: yamllint

Qemu
  .github/workflows/periodic-broken-link-checks.yml
  .github/workflows/ubuntu-desktop.yml
Due: yamllint

PATH
  .github/workflows/ubuntu-desktop.yml
Due: yamllint

resources
  .github/workflows/check-resources.yml
Due: yamllint

Path conditions:
  yamllint: any of: *.{yaml,yml}
  markdownlint-cli: any of: *.md, but not: CHANGELOG.md
